<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="AdminMapper">

	<sql id="select">
		SELECT C_KEY, C_NAME, C_OWNER, C_ADDRESS, C_LOGO, C_SIGN, C_QRCODE, C_MILEAGE, C_CLOSEDAY, C_LEVEL
		FROM COMPANY
	</sql>

	<select id="selectCompanyList" resultType="Company">
		<include refid="select"></include>
		WHERE C_LEVEL != 0
	</select>
	
	<select id="selectCompanySetList" resultType="Company">
		<include refid="select"></include>
		WHERE C_LEVEL = 0
	</select>
	
	<update id="updateCcompanyLevel" parameterType="Company">
		UPDATE COMPANY
		SET C_LEVEL = #{cLevel}
		WHERE C_KEY = #{cKey}
	</update>
	
	
	<select id="selectAllCompanyCount" resultType="int">
		SELECT COUNT(*) AS "COUNT"
		FROM COMPANY
		WHERE C_LEVEL != 0
	</select>
	
	<select id="selectCountLevel1" resultType="int">
		SELECT COUNT(*) AS "COUNT"
		FROM COMPANY
		WHERE C_LEVEL = 1
	</select>
	
	<select id="selectCountLevel2" resultType="int">
		SELECT COUNT(*) AS "COUNT"
		FROM COMPANY
		WHERE C_LEVEL = 2
	</select>
	
	<select id="selectCountLevel3" resultType="int">
		SELECT COUNT(*) AS "COUNT"
		FROM COMPANY
		WHERE C_LEVEL = 3
	</select>
	
	<select id="selectMarkList" resultType="Company">
		SELECT COORD_KEY_FK, CITY, LAT, LNG, COUNT
		FROM (SELECT COORD_KEY_FK, COUNT(*) AS "COUNT"
			        FROM COMPANY
			        GROUP BY COORD_KEY_FK)
		JOIN COORDINATE ON(COORD_KEY_FK = COORD_KEY)
	</select>
	
	<select id="selectTop5List" resultType="Company">		
		SELECT CITY,COUNT, PER
		FROM (SELECT COORD_KEY_FK, COUNT(*) AS "COUNT", trunc(ratio_to_report(count(*)) over() * 100) as "PER"
		      FROM COMPANY
		      GROUP BY COORD_KEY_FK
		      ORDER BY COUNT DESC)
		JOIN COORDINATE ON(COORD_KEY_FK = COORD_KEY)
		WHERE ROWNUM <![CDATA[ <= ]]>5
	</select>
	
	<select id="selectCalList" resultType="Company">
		SELECT C_NAME
		FROM COMPANY
		WHERE C_CLOSEDAY = #{dateList} AND ROWNUM <![CDATA[ <= ]]> 6
		ORDER BY C_NAME ASC
	</select>
	
	<select id="selectNowCalList" resultType="Company">
		SELECT C_NAME, C_CLOSEDAY
		FROM COMPANY
		WHERE C_CLOSEDAY = TO_DATE(TO_CHAR(SYSDATE, 'MM/DD/YYYY'), 'MM/DD/YYYY') AND ROWNUM <![CDATA[ <= ]]> 6
		ORDER BY C_NAME ASC
	</select>

</mapper>