<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CalenderMapper">

	<resultMap type="CalenderVo" id="calenderlMap">
		<result property="id" column="CAL_KEY" />
		<result property="cKeyFk" column="C_KEY_FK" />
		<result property="title" column="CAL_NAME" />
		<result property="startDate" column="CAL_STARTDATE" />
		<result property="endDate" column="CAL_ENDDATE" />
		<result property="NOT_YET" column="CAL_TYPE" />
		<result property="NOT_YET" column="CAL_COMTYPE" />
	</resultMap>

	<sql id="selectCalender" >
	SELECT CAL_KEY,CAL_NAME,CAL_STARTDATE,CAL_ENDDATE
	FROM CALENDER
	</sql>



</mapper>