<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="commuteCheckMapper">
  
  	<resultMap type="Commute" id="CommuteMap">
	<id property="id" column="COMM_KEY"/>
		<result property="cKeyFk" column="C_KEY_FK" />
		<result property="eKey" column="E_KEY_FK" />
		<result property="inDate" column="COMM_DATE" />
		<result property="inTime" column="COMM_INTIME" />
		<result property="outTime" column="COMM_OUTTIME" />
	
	</resultMap>
  
  	<select id="selectCommute" resultType="Commute">
  		SELECT COMM_DATE AS "INDATE",TO_CHAR(COMM_INTIME,'HH:MM:SS') AS "STRINTIME" ,TO_CHAR(COMM_OUTTIME,'HH:MM:SS') AS "STROUTTIME"
		FROM COMMUTE
		WHERE E_KEY_FK = ${eKey} AND C_KEY_FK = ${cKeyFk}
  	</select>
  	
  	<select id="selectAllCommute" resultType="Commute" parameterType="EmployeeVo"><!-- 이게 회사관리자가볼거 -->
  		select E_KEY_FK as"eKey" ,comm_date as "inDate",to_char(comm_intime,'hh:mm:ss') as "strInTime" ,to_char(comm_outtime,'hh:mm:ss') as "strOutTime"
		from commute
		where C_KEY_FK = ${cKeyFk} and to_char(comm_date,'dd') = to_char(sysdate,'dd')
  	</select>
  	
  	<select id="selectOneCommute" resultType="Commute">
  		SELECT COMM_INTIME AS " INTIME"
		FROM COMMUTE
		WHERE TO_NUMBER(TO_CHAR(COMM_DATE, 'DD'))=TO_NUMBER(TO_CHAR(SYSDATE, 'DD')) AND E_KEY_FK = ${eKey} AND C_KEY_FK = ${cKeyFk}
  	</select>
  	
  	<insert id="insertInner" parameterType="Commute">
  		MERGE INTO COMMUTE
 		USING DUAL
 		ON(E_KEY_FK = ${eKey} AND C_KEY_FK= ${cKeyFk} AND TO_NUMBER(TO_CHAR(COMM_DATE, 'DD'))=TO_NUMBER(TO_CHAR(SYSDATE, 'DD')))
 		WHEN MATCHED THEN
   		 UPDATE SET
   			 COMM_INTIME = SYSDATE
		WHEN NOT MATCHED THEN
    		INSERT VALUES(SEQ_COMMUTE.NEXTVAL, ${cKeyFk} , ${eKey}, SYSDATE, SYSDATE, NULL)
  	</insert>
  	
  	<update id="insertOutCommute" parameterType="Commute">
  	UPDATE COMMUTE SET COMM_OUTTIME= SYSDATE
	WHERE TO_NUMBER(TO_CHAR(COMM_DATE, 'DD')) = TO_NUMBER(TO_CHAR(SYSDATE, 'DD')) AND E_KEY_FK = ${eKey} AND C_KEY_FK = ${cKeyFk}
  	</update>

  </mapper>