<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="companyMapper">
	<resultMap type="Company" id="CompanyMap">
		<id property="cKey" column="C_KEY" />
		<result property="cName" column="C_NAME" />
		<result property="cOwner" column="C_OWNER" />
		<result property="cAddress" column="C_ADDRESS" />
		<result property="cLogo" column="C_LOGO" />
		<result property="cSign" column="C_SIGN" />
		<result property="cQrcode" column="C_QRCODE" />
		<result property="cMileage" column="C_MILEAGE" />
		<result property="cCloseDay" column="C_CLOSEDAY" />
		<result property="cLevel" column="C_LEVEL" />
	</resultMap>
	
<!-- 	회사 정보 출력 -->
		<select id="selectCompanyInfo" parameterType="int" resultMap="CompanyMap">
		SELECT
		C_KEY,
	    C_NAME,
	    C_OWNER,
	    C_ADDRESS,
	    C_LOGO,
	    C_SIGN,
	    C_CLOSEDAY
		FROM COMPANY
		WHERE C_KEY =#{cKey}
		</select>
	
	<update id="companyModify" parameterType="Company">
  			UPDATE COMPANY
				SET C_NAME = #{cName},
			    C_OWNER = #{cOwner}, 
			    C_ADDRESS = #{cAddress}, 
			    C_LOGO = #{cLogo}, 
			    C_SIGN = #{cSign}
			WHERE C_KEY = #{cKey}
  	</update>
</mapper>
