<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="GiveMapper">

	<insert id="Giveinsert" parameterType="Give">
		MERGE INTO GIVEVACATION G
            USING DUAL
            ON (GV_KEY = #{gvKey})
            WHEN MATCHED THEN
                      UPDATE SET
                      GV_YEAR = #{gvYear},
                      GV_VACADATE = #{gvVacadate}
            WHEN NOT MATCHED THEN
                     INSERT (GV_KEY, C_KEY_FK, GV_YEAR, GV_VACADATE) VALUES(SEQ_VICEVACATION.NEXTVAL, #{cKeyFk}, #{gvYear}, #{gvVacadate})
	</insert>
	
	<select id="GiveSelect" parameterType="int" resultType="Give">
		SELECT GV_KEY, C_KEY_FK, GV_YEAR, GV_VACADATE FROM GIVEVACATION
		WHERE C_KEY_FK = #{cKeyFk}
		ORDER BY GV_KEY
	</select>
	
</mapper>