<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="GiveMapper">
	<insert id="Giveinsert" parameterType="Give">
		INSERT INTO GIVEVACATION VALUES(SEQ_VICEVACATION.NEXTVAL, 1, 1, 15, SYSDATE)
	</insert>
</mapper>