<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>
  <typeAliases>
	<typeAlias type="com.jdl.css.border.model.vo.BorderVo" alias="Border" /> 
	<typeAlias type="com.jdl.css.employee.model.vo.EmployeeVo" alias="EmployeeVo" /> 
	<typeAlias type="com.jdl.css.company.model.vo.CompanyVo" alias="Company"/>
	<typeAlias type="com.jdl.css.note.model.vo.NoteVo" alias="NoteVo"/>
	<typeAlias type="com.jdl.css.common.model.vo.AttachmentVo" alias="AttachVo"/>
	<typeAlias type="com.jdl.css.border.model.vo.BoardCommentVo" alias="Comment" /> 
	<typeAlias type="com.jdl.css.calender.model.vo.CalenderVo" alias="Calender"/>
	<typeAlias type="com.jdl.css.approval.model.vo.ApprovalVo" alias="ApprovalVo" /> 
	<typeAlias type="com.jdl.css.approval.model.vo.ApprovalConditionVo" alias="AppConVo" /> 
	<typeAlias type="com.jdl.css.approval.model.vo.JobPropsalVo" alias="JobPropsalVo" /> 
  </typeAliases>

  <mappers>
	<mapper resource="mybatis/sql/BorderMapper.xml" /> 
	<mapper resource="mybatis/sql/employeeMapper.xml" /> 
	<mapper resource="mybatis/sql/adminMapper.xml"/>
	<mapper resource="mybatis/sql/noteMapper.xml"/>
	<mapper resource="mybatis/sql/calenderMapper.xml"/>
	<mapper resource="mybatis/sql/approvalMapper.xml"/>	
  </mappers>
</configuration>